:root {
    --background-color: #f3f1e9;
    --btn-color:#132c25;
    --btn-text-color:#fff;
    --card-bg: #4dc1e0;
    --text-color: #222;
    --form-text-color:#555;
    --footer-text-color:#888;
}

[data-theme='dark'] {
    --background-color: #222;
    --btn-color:#f3f1e9;
    --btn-text-color:#1c1919;
    --card-bg: #4dc1e0;
    --text-color: #222;
    --form-text-color:#555;
    --footer-text-color:#888;
}

body {
    background-color: var(--background-color);
}

